<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/camilamiz" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/camilamizu.tattoo" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/camila-mizumoto-65004132/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Este projeto é uma solução desenvolvida por Camila Mizumoto para um code challenge.
  </div>
</div>
