#sign-out-button {
  opacity: 0.8;
  border: 0;
  font-size: 16px;
  border-radius: 4px;
}
#submit-invoice-box {
  font-size: 16px;
}

.button-margin {
  margin: 5px;
}

.button-decoration {
  text-decoration: none;
}
.button-padding {
  padding: 10px;
}
#sign-in-button {
  font-size: 14px;
  border-radius: 15px;
}
